<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <script src="/js/home/register.js" defer></script>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <form class="register-form">
            <input class="name" type="text" placeholder="name" />
            <input class="password" type="password" placeholder="password" />
            <input class="email" type="text" placeholder="email address" />
            <button>create</button>
            <p class="message">
              Already registered? <a href="/login">Sign In</a>
            </p>
          </form>
        </form>
      </div>
    </div>
  </body>
</html>
